<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
    <div class="container">
        <h1 class="pageTitle">News</h1>
        <div class="topBar">
            <a href="/NewsItems/add" class="a_add">
                <img src="../icon/ic_add.png" alt="Add New Item">
            </a>
            <form action="/" method="GET" class="fm_search">
                <input type="text" name="search" placeholder="Search..." value="<%= searchQuery %>"/>
            </form>
            <a href='/logout' class="a_logout">
                <img src="../icon/ic_logout.png" alt="Logout">
            </a>
        </div>
        <div class="div_table">
            <div class="div_tableHeader">
                <label>Image</label>
                <label>Title & Info</label>
                <label>Actions</label>
            </div>
            <div class="div_tableBody">
                <% NewsItems.forEach(NewsItem=> { %>
                    <div class="div_tableRow">
                        <div class="div_imageArea">
                            <img src="<%= NewsItem.imageUrl %>" alt="<%= NewsItem.title %>">
                        </div>
                        <div class="div_TitleInfoArea">
                            <div class="div_titleArea">
                                <%= NewsItem.title %>
                            </div>
                            <hr/>
                            <div class="div_infoArea">
                                <%= NewsItem.info %>
                            </div>
                        </div>
                        <div class="div_actionArea">
                            <a href="/NewsItems/<%= NewsItem._id %>/edit" class="a_edit">
                                <img src="../icon/ic_edit.png" alt="Edit"/>
                            </a>
                            <form action="/NewsItems/<%= NewsItem._id %>?_method=DELETE" method="POST" class="fm_delete">
                                <button type="submit">
                                    <img src="../icon/ic_delete.png" alt="Edit"/>
                                </button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>

</html>
